html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  font-weight: 300;
}

a {
  color: inherit;
}

button,
input,
select {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

button {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 3px;
  border: 1px solid #00000066;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

button:hover {
  border: 1px solid #ea6041;
  background-color: #bbb;
}

button:active {
  color: black;
  background-color: #999;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'uncial';
  src: url('uncial.woff2');
}