html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  font-weight: normal;
}

a {
  color: inherit;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'uncial';
  src: url('uncial.woff2');
}